.Rproj.user
.Rhistory
.RData
.Ruserdata
Global-Financial-Crisis-2007-09.Rproj
*.tex#
.#report_qinyu.tex
report_qinyu.aux
report_qinyu.log
report_qinyu.tex~
Global-Financial-Crisis-2007-09.zip
Individual project.pdf
